<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <title>Votre compte personnel</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
    {% csrf_token %}
    <h1> acceuil</h1>
    <a href="/compte">acceuil</a>
    <a href="/addaccount">comptes</a>
    <a href="/virements">virements</a>
    <a href="/login">se déconnecter</a>

{% block content %}
<ol> <h3> Mes comptes</h3>
    {% for l in liste %}
        <li> {{l}} <a href="/mybank/accounts/{{l.id}}/">montrer</a> <a href="/mybank/update/{{l.id}}/"> editer</a> <a href="/mybank/delete/{{l.id}}/"> supprimer</a></li>
    {% endfor %}
</ol>
{% endblock %}
</body>
</html>