<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
<title>Page d'authentification</title>
</head>
<body>
    <div class="cadre">
    <h1>Connexion</h1>
    <form method="post" action="/compte">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" placeholder="saisissez votre identifiant" required><br><br>
        
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" placeholder="entrer votre mot de passe" name="password" required><br><br>
        
        <input type="submit" value="Se connecter">
    </form>
    </div>
</body>
</html>