<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <title>virement</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
    {% csrf_token %}
    <h1> virement</h1>
    <a href="/compte">acceuil</a>
    <a href="/virement_int">virement interne</a>
    <a href="/virement_ext">virement externe</a>

{% block content %}
<ol> <h3> Mes comptes</h3>
    {% for l in liste %}
        <li> {{l}} </li>
    {% endfor %}
</ol>
{% endblock %}
</body>
</html>