<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>virement interne</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
    <h1>Sélectionnez le compte sur lequel vous voulez effectuez un transfert :</h1>

    <form method="post" action="/transfer/">
        {% csrf_token %}
        <label for="account_from">Compte source:</label>
        <select name="account_from" id="account_from">
            {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.name }}</option>
            {% endfor %}
        </select>

        <label for="account_to">Compte de destination:</label>
        <select name="account_to" id="account_to">
            {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.name }}</option>
            {% endfor %}
        </select>

        <label for="amount">Montant:</label>
        <input type="number" name="amount" id="amount">

        <button type="submit">Transférer</button>
    </form>
</body>
</html>